absl-py==0.9.0
altgraph==0.17
aniso8601==8.0.0
astor==0.8.1
attrs==19.3.0
backcall==0.1.0
bleach==3.3.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorama==0.4.3
cx-Oracle==7.3.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
efficientnet==0.0.3
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.0.2
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
future==0.18.2
gast==0.3.3
gevent==1.4.0
greenlet==0.4.15
grpcio==1.27.2
h5py==2.9.0
idna==2.8
imageio==2.8.0
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
jsonschema==3.2.0
jupyter-client==6.0.0
jupyter-core==4.6.3
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
labelme==3.16.7
macholib==1.14
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.0
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.4
notebook==6.0.3
numpy==1.14.5
opencv-python==4.1.0.25
openpyxl==3.0.3
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.2
pefile==2019.4.18
pickleshare==0.7.5
Pillow==6.0.0
prometheus-client==0.7.1
prompt-toolkit==3.0.4
protobuf==3.11.3
psutil==5.7.0
pycparser==2.20
pycryptodomex==3.8.2
Pygments==2.6.1
PyInstaller==3.4
pyparsing==2.4.6
PyQt5==5.13.1
PyQt5-sip==4.19.19
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3
pyzmq==19.0.0
QtPy==1.9.0
requests==2.22.0
scikit-image==0.15.0
scipy==1.4.1
Send2Trash==1.5.0
six==1.14.0
tensorboard==1.10.0
tensorflow-gpu==1.10.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0
tqdm==4.32.2
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
wincertstore==0.2
xlrd==1.2.0
zipp==3.1.0
